@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

:root {
  --color-brand-1: hsl(150, 100%, 66%);
  --color-brand-2: hsl(193, 38%, 86%);

  --color-site-1: hsl(218, 23%, 16%);
  --color-site-2: hsl(217, 19%, 24%);
  --color-site-3: hsl(217, 19%, 38%);

  --font-manrope: "Manrope", sans-serif;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-manrope);
}

html {
  font-size: 62.5%;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--color-site-1);
  padding: 1rem;
}